.cervezas{
    width: 100%;
    background-color: #ddd;
}

.cervezasTitle{
    margin: 0;
    padding-top: 2em;
    font-size: 2.2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cervezasH3{
    font-size: 1.1em;
    color: #8d662a;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cervezasList{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: center;
    gap: 1em;
    margin: 0;
}

@media screen and (width > 800px) {
    .cervezasTitle{
        display: block;
        width: auto;
        margin: 0;
        padding-top: 2em;
        font-size: 2.5em;
        margin-left: 10%;
    }

    .cervezasP{
        display: block;
        width: auto;
        margin-left: 10%;
        font-size: 1.1em;
        color: #8d662a;
        font-weight: 500;
    }    

    .cervezasList{
        justify-content: space-between;
    }
}