.button{
    padding: 5px;
    margin: 0;
    height: max-content;
    width: max-content;
    font-size: 3em;
    position: fixed;
    bottom: 5%;
    right: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(237,131,0,1) 100%);
    transition: .2s ease all;
    z-index: 10;
}

.button:hover{
    padding: 7px;
    
}

@media screen and (width > 800px) {
    .button{
        padding: 5px;
        margin: 0;
        height: max-content;
        width: max-content;
        font-size: 2.5em;
        position: fixed;
        bottom: 5%;
        right: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(237,131,0,1) 100%);
        transition: .2s ease all
    }
    
}